<h1>Unique page for: <%= @trip.name %></h1>
<% @trip.trails.each do |trail| %>
<div id="trail-<%= trail.id %>">
  <%= link_to trail.name, trail_path(trail) %>
</div>
  <%= trail.address %>
  <%= trail.length %>
<% end %>
<h4>Total hiking distance: <%= @trip.total_hiking_distance %></h4>
<h4>Average hiking distance: <%= @trip.average_hiking_distance %></h4>
<h4>Shortest hiking distance: <%= @trip.shortest_hiking_distance %></h4>
<h4>Longest hiking distance: <%= @trip.longest_hiking_distance %></h4>
