<h1>Unique page for: <%= @trip.name %></h1>
<% @trip.trails.each do |trail| %>
<div id="trail-<%= trail.name %>">
  <%= link_to trail.name, trail_path(trail) %>
</div>
  <%= trail.address %>
  <%= trail.length %>
<% end %>
Total hiking distance: <%= @trip.total_hiking_distance %>
Average hiking distance: <%= @trip.average_hiking_distance %>
Shortest hiking distance: <%= @trip.shortest_hiking_distance %>
Longest hiking distance: <%= @trip.longest_hiking_distance %>
